.app-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px; /* Adjust width as needed */
  background-color: #f0f0f0; /* Background color for the sidebar */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for visual effect */
}

.content {
  margin-left: 200px; /* Same as the sidebar width */
  width: calc(100% - 200px);
  overflow-y: auto; /* Make content scrollable */
  padding: 20px;
}

.green-button {
  border-radius: 3.75rem;
  background: #2CC6A2;
  color: #FFF;
  font-family: Commissioner;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  padding: 1.25rem;
  width: fit-content;
  cursor: pointer;
}