/* Styles for the layout */
.app-container {
  display: flex;
}

// Sidebar

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 12rem;
  background-color: #FFFFFF; /* Background color for the sidebar */
  padding: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for visual effect */
}

.sidebar-main-nav {
  gap: 1rem;
}

.sidebar-main-top {
  // padding-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.sidebar-bottom {
  width: 100%;
  gap: 0.5rem;
}

.pfp {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.875rem;
  background-color: transparent;
  border: 0;
  padding-top: 1rem;
  font-size: 16px;
  border-top: 1px solid lightgray;

  .email {
    font-size: 12px;
  }
}

.sidebar-apps-nav {
  // gap: 0.5rem;
}

.button--nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  background-color: transparent;
  border: 0;
  padding: 0.75rem;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.button--nav:hover {
  background-color: #F5F5F5;
  border-radius: 0.625rem;
}

.icon--nav {
  height: 1.25rem;
}

.icon--menu {
  height: 1.75rem;
}

//Main content

.content {
  margin-left: 15rem; /* Same as the sidebar width + padding*2 */
  width: calc(100% - 15rem);
  max-height: 100vh; /* Restrict content height to the viewport height */
  overflow-y: auto; /* Enable scrolling if content overflows */
  padding: 1rem 2rem;
  box-sizing: border-box; /* Include padding in the height calculation */
}