body {
    background-color: #F3F2F7;
    font-family: Commissioner, sans-serif;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    color: darkgray;
    margin: 0.75rem 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}